
.situation {
  font-weight: bold;
  padding: 8px;
  font-size: 14px;
  border-radius: 4px;
}

.situation-small {
  font-size: 10px;
  border: 1px solid blue;
  color: blue;
}

.situation-medium {
  font-size: 16px;
  border: 1px solid green;
  color: green;
}

.situation-large {
  font-size: 20px;
  border: 1px solid red;
  color: red;
}